[Unit]
Description=Weekly AppData backup to Backblaze B2
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=-curl -sS -m 10 --retry 5 http://debian-vm.internal:8000/ping/<ping-key>/zimaos-nas-appdata-backup/start
ExecStart=/opt/scripts/b2-appdata-bkp.sh
ExecStopPost=curl -sS -m 10 --retry 5 http://debian-vm.internal:8000/ping/<ping-key>/zimaos-nas-appdata-backup/${EXIT_STATUS}

[Install]
WantedBy=multi-user.target