[Unit]
Description=Run daily Immich gallery backup to Backblaze B2
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=-curl -sS -m 10 --retry 5 http://debian-vm.internal:8000/ping/<ping-key>/zimaos-nas-immich-backup/start
ExecStart=/opt/scripts/b2-immich-bkp.sh
ExecStopPost=curl -sS -m 10 --retry 5 http://debian-vm.internal:8000/ping/<ping-key>/zimaos-nas-immich-backup/${EXIT_STATUS}

[Install]
WantedBy=multi-user.target