[Unit]  
Description=Mount ZimaOS Quick-Storage  
After=network-online.target  
Wants=network-online.target  
  
[Mount]  
What=192.168.50.4:/media/nvme0n1p1   
Where=/mnt/storage_server/NVMe  
Type=nfs  
Options=defaults,noatime,nodiratime,rsize=1048576,wsize=1048576,timeo=14,soft  
  
[Install]  
WantedBy=multi-user.target