/* ~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Admonition style changes *
 * ~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~ Rounded Corners ~~~ */

/* Expanded */
.md-typeset .admonition,
.md-typeset details {
  border-radius: .4rem;
}
[dir=ltr] .md-typeset .admonition-title,
[dir=ltr] .md-typeset summary,
[dir=rtl] .md-typeset .admonition-title,
[dir=rtl] .md-typeset summary {
  background-color: transparent;
  border-top-right-radius: .4rem;
  border-top-left-radius: .4rem;
}
/* Collapsed */
.md-typeset details:not([open]) {
	border-radius: .4rem;
}

/* ~~~ Icon Size & Spacing ~~~ */
/*
[dir=ltr] .md-typeset .admonition-title:before,
[dir=ltr] .md-typeset summary:before {
  left: .5rem;
}
[dir=rtl] .md-typeset .admonition-title:before,
[dir=rtl] .md-typeset summary:before {
  right: .5rem
}
.md-typeset .admonition-title:before,
.md-typeset summary:before {
  height: 1.1rem;
  top: .525em;
  width: 1.1rem
}
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Customize Built-In Admonitions *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */   

/* ~~~ Admonition: 'Note' ~~~ */

/* Set background color */
.md-typeset .admonition.note,
.md-typeset details.note {
  background-color: #448aff1a
}
/* Set color of expand/collapse button */
.md-typeset .note > .admonition-title:after,
.md-typeset .note > summary:after {
  color: #448aff
}

/* ~~~ Admonition: 'Abstract' ~~~ */

.md-typeset .admonition.abstract,
.md-typeset details.abstract {
  background-color: #00b0ff1a
}
.md-typeset .abstract > .admonition-title:after,
.md-typeset .abstract > summary:after {
  color: #00b0ff
}

/* ~~~ Admonition: 'Info' ~~~ */

.md-typeset .admonition.info,
.md-typeset details.info {
  background-color: #00b8d41a
}
.md-typeset .info > .admonition-title:after,
.md-typeset .info > summary:after {
  color: #00b8d4
}

/* ~~~ Admonition: 'Tip' ~~~ */

.md-typeset .admonition.tip,
.md-typeset details.tip {
  background-color: #00bfa51a
}
.md-typeset .tip > .admonition-title:after,
.md-typeset .tip > summary:after {
  color: #00bfa5
}

/* ~~~ Admonition: 'Success' ~~~ */

.md-typeset .admonition.success,
.md-typeset details.success {
  background-color: #00c8531a
}
.md-typeset .success > .admonition-title:after,
.md-typeset .success > summary:after {
  color: #00c853
}

/* ~~~ Admonition: 'Question' ~~~ */

.md-typeset .admonition.question,
.md-typeset details.question {
  background-color: #64dd171a
}
.md-typeset .question > .admonition-title:after,
.md-typeset .question > summary:after {
  color: #64dd17
}

/* ~~~ Admonition: 'Warning' ~~~ */

.md-typeset .admonition.warning,
.md-typeset details.warning {
  background-color: #ff91001a
}
.md-typeset .warning > .admonition-title:after,
.md-typeset .warning > summary:after {
  color: #ff9100
}

/* ~~~ Admonition: 'Failure' ~~~ */

.md-typeset .admonition.failure,
.md-typeset details.failure {
  background-color: #ff52521a
}
.md-typeset .failure > .admonition-title:after,
.md-typeset .failure > summary:after {
  color: #ff5252
}

/* ~~~ Admonition: 'Danger' ~~~ */

.md-typeset .admonition.danger,
.md-typeset details.danger {
  background-color: #ff17441a
}
.md-typeset .danger > .admonition-title:after,
.md-typeset .danger > summary:after {
  color: #ff1744
}

/* ~~~ Admonition: 'Bug' ~~~ */

.md-typeset .admonition.bug,
.md-typeset details.bug {
  background-color: #f500571a
}
.md-typeset .bug > .admonition-title:after,
.md-typeset .bug > summary:after {
  color: #f50057
}

/* ~~~ Admonition: 'Example' ~~~ */

.md-typeset .admonition.example,
.md-typeset details.example {
  background-color:#7c4dff1a
}
.md-typeset .example > .admonition-title:after,
.md-typeset .example > summary:after {
  color: #7c4dff
}

/* ~~~ Admonition: 'Quote' ~~~ */

.md-typeset .admonition.quote,
.md-typeset details.quote {
  background-color: #9e9e9e1a
}
.md-typeset .quote > .admonition-title:after,
.md-typeset .quote > summary:after {
  color: #9e9e9e
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Adding Custom Admonitions *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~ Define Icon Properties ~~~ */

:root {
  --md-admonition-icon--links: url('data:image/svg+xml;charset=utf-8,<svg fill="currentColor" version="1.1" viewBox="0 -960 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m7.0653-937q-2.5056 0-4.2778-1.7722t-1.7722-4.2778q0-1.2222.45833-2.3222.45834-1.1 1.3139-1.9556l3.2083-3.2083q.36666-.36667.87083-.36667t.87083.36667q.36667.36667.36667.85555 0 .48889-.36667.85556l-3.2389 3.2389q-.51944.51944-.77916 1.1764-.25973.65694-.25973 1.3597 0 1.4972 1.0542 2.5514t2.5514 1.0542q.70278 0 1.375-.25973.67222-.25972 1.1917-.77916l3.2083-3.2389q.36667-.33611.85556-.33611.48888 0 .85555.36666.36667.36667.36667.85556t-.36667.85555l-3.2083 3.2083q-.85556.85555-1.9556 1.3139-1.1.45833-2.3222.45833zm1.5278-7.5778q-.36667-.36666-.36667-.87083t.36667-.87083l5.1028-5.1028q.36666-.36667.87083-.36667t.87083.36667q.36667.36666.36667.87083t-.36667.87083l-5.1028 5.1028q-.36666.36667-.87083.36667t-.87083-.36667zm7.7-.88611q-.36667-.36667-.36667-.85555 0-.48889.36667-.85556l3.2389-3.2083q.51944-.51945.76389-1.1611.24444-.64167.24444-1.3444 0-1.5278-1.0389-2.5972-1.0389-1.0694-2.5667-1.0694-.70277 0-1.3597.25973-.65694.25972-1.1764.77916l-3.2083 3.2389q-.36667.36667-.85556.36667-.48888 0-.85555-.36667-.36667-.36666-.36667-.87083t.36667-.87083l3.2083-3.2083q.85556-.85555 1.9556-1.3139 1.1-.45833 2.3222-.45833 2.5056 0 4.2625 1.7722t1.7569 4.3083q0 1.1917-.44305 2.2917-.44306 1.1-1.2986 1.9556l-3.2083 3.2083q-.36666.36667-.87083.36667t-.87083-.36667z"/></svg>');
  --md-admonition-icon--zima: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="m19.008 1h-14.016c-2.2043 0-3.9918 1.7875-3.9918 3.9918v14.016c0 2.2043 1.7875 3.9918 3.9918 3.9918h14.016c2.2043 0 3.9918-1.7875 3.9918-3.9918v-14.016c0-2.2043-1.7875-3.9918-3.9918-3.9918m-6.1617 8.8945h2.0883c.23203 0 .42109-.18477.42109-.4125v-2.707c0-.22773-.18906-.4125-.42109-.4125h-2.0883v-1.4824h6.5012v1.4738h-2.0883c-.23203 0-.42109.18477-.42109.4125v2.707c0 .22773.18906.4125.42109.4125h2.0883v1.4781h-6.5012zm-1.3664 9.625h-1.534v-3.9789l-.58008.48125-1.2289 1.0055-1.2289-1.0141-.58008-.47695v3.9832h-1.534v-6.6086h1.534v.18906c0 .25781.11602.50273.30938.66602l1.4953 1.2332 1.4953-1.2375c.19766-.16328.30938-.4082.30938-.66602v-.18906h1.5426zm0-13.179h-.15898c-.24922 0-.48984.098828-.66602.2793l-3.257 3.2871h4.082v1.4609h-6.6859v-1.4566h.15898c.25781 0 .49844-.10312.67891-.28359l3.2484-3.2828h-4.0863v-1.4609h6.6859zm6.6 13.179-1.8434-4.2926-1.8434 4.2926h-1.7488l2.5953-6.0414c.07734-.18047.07734-.38242 0-.56289h1.9895c-.07734.18047-.07734.38242 0 .56289l2.5996 6.0414z"/></svg>');
  --md-admonition-icon--config: url('data:image/svg+xml;charset=utf-8,<svg fill="currentColor" version="1.1" viewBox="0 -960 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.784-943.92c.21083-.21083.31625-.47208.31625-.78375s-.10542-.57292-.31625-.78375-.47208-.31625-.78375-.31625-.57292.10542-.78375.31625-.31625.47208-.31625.78375.10542.57292.31625.78375.47208.31625.78375.31625.57292-.10542.78375-.31625zm0-3.3c.21083-.21083.31625-.47208.31625-.78375v-3.3c0-.31167-.10542-.57292-.31625-.78375s-.47208-.31625-.78375-.31625-.57292.10542-.78375.31625-.31625.47208-.31625.78375v3.3c0 .31167.10542.57292.31625.78375s.47208.31625.78375.31625.57292-.10542.78375-.31625zm-2.0762 10.216c-.495 0-.92127-.165-1.2788-.495s-.57295-.73333-.64625-1.21l-.21372-1.5673c-.018655-.13681-.13863-.28719-.26441-.34409-.1539-.0696-.3016-.14749-.44311-.23362-.14022-.0853-.27842-.17476-.41459-.26822-.11383-.0781-.30738-.10099-.43471-.0476l-1.4745.61832c-.45833.20167-.91667.22-1.375.055s-.81583-.45833-1.0725-.88l-1.2925-2.255c-.25667-.42167-.33-.87083-.22-1.3475s.3575-.87083.7425-1.1825l1.258-.9494c.11021-.0832.18575-.26181.17879-.39968-.014565-.28879-.01459-.69892 2.63e-5-.98772.00695-.13738-.068613-.31563-.17882-.3988l-1.258-.9494c-.385-.31167-.6325-.70583-.7425-1.1825s-.036667-.92583.22-1.3475l1.2925-2.255c.25667-.42167.61417-.715 1.0725-.88s.91667-.14667 1.375.055l1.4745.61832c.12733.0534.32085.0305.4352-.0469.13854-.0937.28116-.18336.42785-.26893.14389-.0839.28777-.16002.43166-.22827.12474-.0592.24346-.21263.26212-.34944l.21372-1.5673c.073333-.47667.28875-.88.64625-1.21s.78377-.495 1.2788-.495h2.585c.495 0 .92127.165 1.2788.495s.57295.73333.64625 1.21l.21372 1.5673c.01866.13681.13863.28719.26441.34409.1539.0696.3016.14749.44311.23362.14022.0853.27842.17476.41459.26822.11383.0781.30738.10099.43471.0476l1.4745-.61832c.45833-.20167.91667-.22 1.375-.055s.81583.45833 1.0725.88l1.2925 2.255c.25667.42167.33.87083.22 1.3475s-.3575.87083-.7425 1.1825l-1.258.9494c-.11021.0832-.18807.26214-.18036.40016.01493.26715.02663.68642-.0049.9938-.01382.13473.04755.30907.15776.39224l1.258.9494c.385.31167.6325.70583.7425 1.1825s.03667.92583-.22 1.3475l-1.32 2.255c-.25667.42167-.61417.715-1.0725.88s-.91667.14667-1.375-.055l-1.4206-.6156c-.12669-.0549-.31969-.0332-.43404.0442-.13854.0937-.28116.18336-.42785.26893-.14389.0839-.28777.16002-.43166.22827-.12474.0592-.24346.21263-.26212.34944l-.21372 1.5673c-.07333.47667-.28875.88-.64625 1.21s-.78377.495-1.2788.495zm.6925-2.2h1.1725a.57038.57038 138.76 00.56547-.4957l.25406-1.9236c.03616-.27377.28315-.54963.5444-.6389.38841-.13272.75583-.3004 1.1023-.50305.34303-.20066.66552-.43101.96747-.69106.20919-.18017.57316-.25449.82828-.14883l1.7986.74488a.56853.56853 161.17 00.71071-.24242l.57499-1.0025a.56761.56761 78.459 00-.15013-.73521l-1.5672-1.1845c-.2203-.1665-.32042-.51236-.26275-.78221.02309-.10802.04187-.2182.05637-.33052.03667-.28417.055-.57292.055-.86625s-.01833-.58208-.055-.86625c-.01449-.11232-.03328-.22249-.05637-.33052-.05767-.26984.04246-.61571.26275-.78221l1.5672-1.1845a.56761.56761 101.54 00.15013-.73521l-.57499-1.0025a.56363.56363 18.588 00-.70905-.23846l-1.8019.76446c-.25421.10784-.61372.0317-.8195-.15236-.30396-.27186-.62883-.50892-.97459-.71117-.34647-.20266-.71389-.37035-1.1023-.50306-.26125-.0893-.50619-.36538-.5398-.63947l-.23577-1.9224a.56507.56507 41.504 00-.56087-.49628h-1.1725a.57038.57038 138.76 00-.56547.4957l-.25406 1.9236c-.03616.27377-.28315.54963-.5444.6389-.38841.13272-.75583.3004-1.1023.50305-.34303.20066-.66552.43101-.96747.69106-.20919.18017-.57316.25449-.82828.14883l-1.7986-.74488a.56853.56853 161.17 00-.71071.24242l-.57499 1.0025a.56337.56337 78.246 00.15236.73224l1.5628 1.163c.22153.16486.32704.51063.26864.78039-.024764.11437-.044771.22875-.060021.34312-.036667.275-.055.56833-.055.88 0 .29333.018333.5775.055.8525.01525.11437.035257.22875.060021.34312.058406.26976-.046107.61686-.2664.78336l-1.5672 1.1845a.56761.56761 101.54 00-.15013.73521l.57499 1.0025a.56363.56363 18.588 00.70905.23846l1.8019-.76446c.25421-.10784.61372-.0317.8195.15236.30397.27186.62883.50892.97459.71117.34647.20266.71389.37035 1.1023.50306.26125.0893.50619.36538.5398.63947l.23577 1.9224a.56507.56507 41.504 00.56086.49628z"/></svg>');
  --md-admonition-icon--visual: url('data:image/svg+xml;charset=utf-8,<svg class="lucide lucide-eye-icon lucide-eye" fill="currentColor" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 4c-4.4192 0-8.8807 2.4642-10.863 7.2715a1.0001 1.0001 0 00-.011719.033204c-.1666.44881-.1666.94181 0 1.3906a1 1 0 00.021484.009766 1 1 0 00-.0097656.023438c1.9826 4.8072 6.4441 7.2715 10.863 7.2715 4.4192 0 8.8807-2.4642 10.863-7.2715a1.0001 1.0001 0 00.011719-.033204c.1666-.44881.1666-.94181 0-1.3906a1.0001 1.0001 0 00-.011719-.033204c-1.9826-4.8073-6.4441-7.2715-10.863-7.2715zm0 2c3.6786 0 7.3122 1.9643 8.9941 6-1.6819 4.0357-5.3155 6-8.9941 6-3.6786 0-7.3122-1.9643-8.9941-6 1.6819-4.0357 5.3155-6 8.9941-6zm0 2c-2.1973 0-4 1.8027-4 4 0 2.1973 1.8027 4 4 4 2.1973 0 4-1.8027 4-4 0-2.1973-1.8027-4-4-4zm0 2c1.1164 0 2 .88359 2 2s-.88359 2-2 2-2-.88359-2-2 .88359-2 2-2z"/></svg>');
  --md-admonition-icon--change: url('data:image/svg+xml;charset=utf-8,<svg fill="currentColor" version="1.1" viewBox="0 -960 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.906-943.4 2.154 2.154q.31593.31592.31593.78981t-.31593.81854q-.34465.34465-.81854.34465t-.81853-.34465l-4.1071-4.107q-.17232-.17232-.24412-.37337-.071802-.20104-.071802-.4308 0-.22977.0718-.43081.0718-.20105.24412-.37337l4.1358-4.1358q.34464-.34465.80417-.33029.45953.0144.80418.35901.31593.34465.33029.80418.0144.45953-.33029.80417l-2.154 2.154h7.094q.48825 0 .81854.33029.33029.33028.33029.81854 0 .48825-.33029.81853-.33029.33029-.81854.33029zm14.188-6.893h-7.094q-.48825 0-.81854-.33029-.33029-.33028-.33029-.81854 0-.48825.33029-.81853.33029-.33029.81854-.33029h7.094l-2.154-2.154q-.31593-.31592-.31593-.78981t.31593-.81854q.34465-.34465.81854-.34465t.81853.34465l4.107 4.107q.17233.17232.24413.37337.0718.20104.0718.4308 0 .22977-.0718.43081-.0718.20105-.24413.37337l-4.1358 4.1358q-.34464.34465-.80417.33029-.45953-.0144-.80418-.35901-.31593-.34465-.33029-.80418-.0144-.45953.33029-.80417z" stroke-width=".028721"/></svg>');
  --md-admonition-icon--security: url('data:image/svg+xml;charset=utf-8,<svg fill="currentColor" version="1.1" viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg"><path d="m503.6-137.35c61.672-24.095 113.96-65.348 156.86-123.76 43.293-58.945 70.457-124.01 81.492-195.2 2.1147-13.643-8.0266-24.796-21.834-24.796h-215.11a25 25 45 01-25-25v-300.89a17.325 17.325 34.722 00-23.408-16.222l-220.53 82.697a36.075 36.075 124.72 00-23.408 33.778v205.58c2e-5 11.142 13.421 20.051 27.228 20.051h215.11a25 25 45 0125 25v302c0 13.807 10.739 21.783 23.597 16.759zm-38.078 96.241c-4.4557-.74262-8.9114-1.8565-13.367-3.3418-100.25-33.418-180.08-95.241-239.49-185.47-59.409-90.228-89.114-187.32-89.114-291.29v-210.53c0-18.565 5.384-35.274 16.152-50.127 10.768-14.852 24.692-25.62 41.772-32.304l267.34-100.25c10.397-3.7131 20.793-5.5696 31.19-5.5696s20.793 1.8565 31.19 5.5696l267.34 100.25c17.08 6.6836 31.004 17.451 41.772 32.304s16.152 31.561 16.152 50.127v210.53c0 103.97-29.705 201.06-89.114 291.29-59.409 90.228-139.24 152.05-239.49 185.47-4.4557 1.4852-8.9114 2.5992-13.367 3.3418s-9.2827 1.1139-14.481 1.1139-10.025-.37131-14.481-1.1139z"/></svg>');
  --md-admonition-icon--party: url('data:image/svg+xml;charset=utf-8,<svg class="lucide lucide-party-popper-icon lucide-party-popper" fill="currentColor" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.01 1a1 1 0 00-.38281.072266 1 1 0 00-.55469 1.3008l.32812.81445c.11335.28671-.04897.57341-.35352.62695l.03125-.0039062c-1.2042.17203-2.0781 1.2217-2.0781 2.4199v.76953a1 1 0 001 1 1 1 0 001-1v-.76953c0-.22174.16554-.41344.36133-.44141a1.0001 1.0001 0 00.03125-.0039063c1.5154-.26645 2.4338-1.8987 1.8672-3.332a1.0001 1.0001 0 00-.001954-.0058594l-.33008-.82031a1 1 0 00-.91797-.62695zm3.9902 0a1 1 0 00-1 1 1 1 0 001 1h.009766a1 1 0 001-1 1 1 0 00-1-1h-.009766zm6.9375 0a1 1 0 00-.25586.050781l-2.2383.75c-1.7587.58583-2.8666 2.3472-2.6367 4.1855.032948.28296-.16036.51367-.45703.51367h-.37891c-1.3251 0-2.4925.9412-2.7422 2.252l-.20898 1.0527a1 1 0 00.78516 1.1758 1 1 0 001.1758-.78516l.21094-1.0605a1.0001 1.0001 0 000-.0078125c.070334-.36925.38441-.62695.7793-.62695h.37891c1.4633 0 2.6105-1.309 2.4434-2.7461a1.0001 1.0001 0 00-.001953-.011719c-.11617-.90684.41775-1.754 1.2852-2.043a1.0001 1.0001 0 00.001953 0l2.2402-.75a1 1 0 00.63086-1.2676 1 1 0 00-1.0117-.68164zm-17.938 1a1 1 0 00-1 1 1 1 0 001 1h.0097656a1 1 0 001-1 1 1 0 00-1-1h-.0097656zm18 5a1 1 0 00-1 1 1 1 0 001 1h.009766a1 1 0 001-1 1 1 0 00-1-1h-.009766zm-15.146 2.6914c-.53912.0033-1.1301.17114-1.5605.60156-.16444.16444-.29151.35327-.38477.55273-.040532.086695-.072996.17552-.10156.26562l-3.748 10.555a1.0001 1.0001 0 001.2754 1.2773l10.699-3.791a1 1 0 00.22461-.11328c.1615-.086693.31312-.19593.44922-.33203.43042-.43042.59826-1.0214.60156-1.5605.0033-.53912-.13024-1.0675-.3457-1.6055-.43093-1.0758-1.209-2.2012-2.2559-3.248s-2.1722-1.8249-3.248-2.2559c-.53792-.21547-1.0663-.34901-1.6055-.3457zm13.877 1.8809c-.090813-.002538-.18179.000298-.27148.007812-1.0764.09017-2.0443.89076-2.2441 2.0273a1.0001 1.0001 0 00-.001953.017578c-.033731.21495-.22162.375-.44336.375h-.76953a1 1 0 00-1 1 1 1 0 001 1h.76953c1.1983 0 2.2317-.8794 2.418-2.0645l-.001953.017578c.05355-.30455.34024-.46687.62695-.35352l.81445.32812a1 1 0 001.3008-.55469 1 1 0 00-.55469-1.3008l-.82031-.33008a1.0001 1.0001 0 00-.005859-.001954c-.26868-.10621-.54397-.16036-.81641-.16797zm-13.865.11914c.17463-.0011.48253.05414.84961.20117.73415.29407 1.6949.93128 2.5781 1.8145.88318.88318 1.5204 1.844 1.8145 2.5781.14703.36708.20224.67498.20117.84961-.00063.10002-.010012.14313-.015625.1582h-.001953c-.016113.005689-.058891.015023-.15625.015625-.17463.0011-.48253-.05414-.84961-.20117-.73415-.29407-1.6949-.93128-2.5781-1.8145-.88318-.88318-1.5204-1.844-1.8145-2.5781-.14703-.36708-.20224-.67498-.20117-.84961.0002741-.044723.0030415-.07717.0058594-.10156.0001789-.001549-.0001838-.002428 0-.003906l.019531-.054688c.020722-.005616.064625-.013153.14844-.013672zm-1.2051 2.9883c.4255.68562.97734 1.3719 1.6328 2.0273.65797.65797 1.3469 1.2106 2.0352 1.6367l-5.6836 2.0117 2.0156-5.6758zm16.34 4.3203a1 1 0 00-1 1 1 1 0 001 1h.009766a1 1 0 001-1 1 1 0 00-1-1h-.009766z"/></svg>');
}

/* ~~~ Admonition: `Links` ~~~ */

/* Set border color */
.md-typeset .admonition.links,
.md-typeset details.links {
  border-color: rgb(76, 174, 79);
  background-color: rgba(76, 174, 79, 0.1)
}
/* Set icon color */
.md-typeset .links > .admonition-title::before,
.md-typeset .links > summary::before {
  background-color: rgb(76, 174, 79);
  -webkit-mask-image: var(--md-admonition-icon--links);
          mask-image: var(--md-admonition-icon--links);
}
/* Set color of expand/collapse button to match icon */
.md-typeset .links > .admonition-title:after,
.md-typeset .links > summary:after {
  color: rgb(76, 174, 79);
}

/* ~~~ Admonition: 'ZimaOS' ~~~ */

.md-typeset .admonition.zima,
.md-typeset details.zima {
  border-color: rgb(130 , 45, 190);
  background-color: rgba(130 , 44, 190, 0.1);
}
.md-typeset .zima > .admonition-title::before,
.md-typeset .zima > summary::before {
  background-color: rgb(130, 45, 190);
  -webkit-mask-image: var(--md-admonition-icon--zima);
          mask-image: var(--md-admonition-icon--zima);
}
.md-typeset .zima > .admonition-title:after,
.md-typeset .zima > summary:after {
  color: rgb(130, 45, 190);
}

/* ~~~ Admonition: 'Config' ~~~ */

.md-typeset .admonition.config,
.md-typeset details.config {
  border-color: rgb(245 , 0, 87);
  background-color: rgba(245 , 0, 87, 0.1);
}
.md-typeset .config > .admonition-title::before,
.md-typeset .config > summary::before {
  background-color: rgb(245, 0, 87);
  -webkit-mask-image: var(--md-admonition-icon--config);
          mask-image: var(--md-admonition-icon--config);
}
.md-typeset .config > .admonition-title:after,
.md-typeset .config > summary:after {
  color: rgb(245, 0, 87);
}

/* ~~~ Admonition: 'Visual' ~~~ */

.md-typeset .admonition.visual,
.md-typeset details.visual {
  border-color: rgb(0 , 191, 165);
  background-color: rgba(0 , 191, 165, 0.1);
}
.md-typeset .visual > .admonition-title::before,
.md-typeset .visual > summary::before {
  background-color: rgb(0, 191, 165);
  -webkit-mask-image: var(--md-admonition-icon--visual);
          mask-image: var(--md-admonition-icon--visual);
}
.md-typeset .visual > .admonition-title:after,
.md-typeset .visual > summary:after {
  color: rgb(0, 191, 165);
}

/* ~~~ Admonition: 'Chages' ~~~ */

.md-typeset .admonition.change,
.md-typeset details.change {
  border-color: rgb(255 , 145, 0);
  background-color: rgba(255 , 145, 0, 0.1);
}
.md-typeset .change > .admonition-title::before,
.md-typeset .change > summary::before {
  background-color: rgb(255, 145, 0);
  -webkit-mask-image: var(--md-admonition-icon--change);
          mask-image: var(--md-admonition-icon--change);
}
.md-typeset .change > .admonition-title:after,
.md-typeset .change > summary:after {
  color: rgb(255 , 145, 0);
}

/* ~~~ Admonition: 'Security' ~~~ */

.md-typeset .admonition.security,
.md-typeset details.security {
  border-color: rgb(245 , 0, 87);
  background-color: rgba(245 , 0, 87, 0.1);
}
.md-typeset .security > .admonition-title::before,
.md-typeset .security > summary::before {
  background-color: rgb(245, 0, 87);
  -webkit-mask-image: var(--md-admonition-icon--security);
          mask-image: var(--md-admonition-icon--security);
}
.md-typeset .security > .admonition-title:after,
.md-typeset .security > summary:after {
  color: rgb(245 , 0, 87);
}

/* ~~~ Admonition: 'Party' ~~~ */

.md-typeset .admonition.party,
.md-typeset details.party {
  border-color: rgb(0 , 200, 83);
  background-color: rgba(0 , 200, 83, 0.1);
}
.md-typeset .party > .admonition-title::before,
.md-typeset .party > summary::before {
  background-color: rgb(0, 200, 83);
  -webkit-mask-image: var(--md-admonition-icon--party);
          mask-image: var(--md-admonition-icon--party);
}
.md-typeset .party > .admonition-title:after,
.md-typeset .party > summary:after {
  color: rgb(0 , 200, 83);
}