/* --- Admonition style changes --- */

/* Border radius */
.md-typeset .admonition,
.md-typeset details {
  border-radius:.4rem;
}

[dir=ltr] .md-typeset .admonition-title,
[dir=ltr] .md-typeset summary,
[dir=rtl] .md-typeset .admonition-title,
[dir=rtl] .md-typeset summary {
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}

/* Collapsed admonitions */
.md-typeset details:not([open]) {
	border-radius: 0.4rem;
}


/* --- Custom Admonitions --- */

/* Admonition: `Links` */
:root {
  --md-admonition-icon--links: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="M318-120q-82 0-140-58t-58-140q0-40 15-76t43-64l105-105q12-12 28.5-12t28.5 12q12 12 12 28t-12 28L234-401q-17 17-25.5 38.5T200-318q0 49 34.5 83.5T318-200q23 0 45-8.5t39-25.5l105-106q12-11 28-11t28 12q12 12 12 28t-12 28L458-178q-28 28-64 43t-76 15Zm50-248q-12-12-12-28.5t12-28.5l167-167q12-12 28.5-12t28.5 12q12 12 12 28.5T592-535L425-368q-12 12-28.5 12T368-368Zm252-29q-12-12-12-28t12-28l106-105q17-17 25-38t8-44q0-50-34-85t-84-35q-23 0-44.5 8.5T558-726L453-620q-12 12-28 12t-28-12q-12-12-12-28.5t12-28.5l105-105q28-28 64-43t76-15q82 0 139.5 58T839-641q0 39-14.5 75T782-502L677-397q-12 12-28.5 12T620-397Z"/></svg>')
}
.md-typeset .admonition.links,
.md-typeset details.links {
  border-color: rgb(76, 174, 79);
}
.md-typeset .links > .admonition-title,
.md-typeset .links > summary {
  background-color: rgba(76, 174, 79, 0.1);
}
.md-typeset .links > .admonition-title::before,
.md-typeset .links > summary::before {
  background-color: rgb(76, 174, 79);
  -webkit-mask-image: var(--md-admonition-icon--links);
          mask-image: var(--md-admonition-icon--links);
}

/* Admonition: 'ZimaOS' */
:root {
  --md-admonition-icon--zima: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M419.1 0H92.9C41.6 0 0 41.6 0 92.9v326.2C0 470.4 41.6 512 92.9 512h326.2c51.3 0 92.9-41.6 92.9-92.9V92.9C512 41.6 470.4 0 419.1 0M275.7 207h48.6c5.4 0 9.8-4.3 9.8-9.6v-63c0-5.3-4.4-9.6-9.8-9.6h-48.6V90.3H427v34.3h-48.6c-5.4 0-9.8 4.3-9.8 9.6v63c0 5.3 4.4 9.6 9.8 9.6H427v34.4H275.7zm-31.8 224h-35.7v-92.6l-13.5 11.2-28.6 23.4-28.6-23.6-13.5-11.1V431H88.3V277.2H124v4.4c0 6 2.7 11.7 7.2 15.5l34.8 28.7 34.8-28.8c4.6-3.8 7.2-9.5 7.2-15.5v-4.4h35.9zm0-306.7h-3.7c-5.8 0-11.4 2.3-15.5 6.5l-75.8 76.5h95v34H88.3v-33.9H92c6 0 11.6-2.4 15.8-6.6l75.6-76.4H88.3v-34h155.6zM397.5 431l-42.9-99.9-42.9 99.9H271l60.4-140.6c1.8-4.2 1.8-8.9 0-13.1h46.3c-1.8 4.2-1.8 8.9 0 13.1L438.2 431z" /></svg>')
}
.md-typeset .admonition.zima,
.md-typeset details.zima {
  border-color: rgb(130 , 45, 190);
}
.md-typeset .zima > .admonition-title,
.md-typeset .zima > summary {
  background-color: rgba(130 , 44, 190, 0.1);
}
.md-typeset .zima > .admonition-title::before,
.md-typeset .zima > summary::before {
  background-color: rgb(130, 45, 190);
  -webkit-mask-image: var(--md-admonition-icon--zima);
          mask-image: var(--md-admonition-icon--zima);
}

/* Admonition: 'Config' */
:root {
  --md-admonition-icon--config: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="M433-80q-27 0-46.5-18T363-142l-9-66q-13-5-24.5-12T307-235l-62 26q-25 11-50 2t-39-32l-47-82q-14-23-8-49t27-43l53-40q-1-7-1-13.5v-27q0-6.5 1-13.5l-53-40q-21-17-27-43t8-49l47-82q14-23 39-32t50 2l62 26q11-8 23-15t24-12l9-66q4-26 23.5-44t46.5-18h94q27 0 46.5 18t23.5 44l9 66q13 5 24.5 12t22.5 15l62-26q25-11 50-2t39 32l47 82q14 23 8 49t-27 43l-53 40q1 7 1 13.5v27q0 6.5-2 13.5l53 40q21 17 27 43t-8 49l-48 82q-14 23-39 32t-50-2l-60-26q-11 8-23 15t-24 12l-9 66q-4 26-23.5 44T527-80h-94Zm49-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z"/></svg>')
}
.md-typeset .admonition.config,
.md-typeset details.config {
  border-color: rgb(245 , 0, 87);
}
.md-typeset .config > .admonition-title,
.md-typeset .config > summary {
  background-color: rgba(245 , 0, 87, 0.1);
}
.md-typeset .config > .admonition-title::before,
.md-typeset .config > summary::before {
  background-color: rgb(245, 0, 87);
  -webkit-mask-image: var(--md-admonition-icon--config);
          mask-image: var(--md-admonition-icon--config);
}

/* Admonition: 'Visual' */
:root {
  --md-admonition-icon--visual: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="M607.5-372.5Q660-425 660-500t-52.5-127.5Q555-680 480-680t-127.5 52.5Q300-575 300-500t52.5 127.5Q405-320 480-320t127.5-52.5Zm-204-51Q372-455 372-500t31.5-76.5Q435-608 480-608t76.5 31.5Q588-545 588-500t-31.5 76.5Q525-392 480-392t-76.5-31.5ZM235.5-272Q125-344 61-462q-5-9-7.5-18.5T51-500q0-10 2.5-19.5T61-538q64-118 174.5-190T480-800q134 0 244.5 72T899-538q5 9 7.5 18.5T909-500q0 10-2.5 19.5T899-462q-64 118-174.5 190T480-200q-134 0-244.5-72Z"/></svg>')
}
.md-typeset .admonition.visual,
.md-typeset details.visual {
  border-color: rgb(0 , 191, 165);
}
.md-typeset .visual > .admonition-title,
.md-typeset .visual > summary {
  background-color: rgba(0 , 191, 165, 0.1);
}
.md-typeset .visual > .admonition-title::before,
.md-typeset .visual > summary::before {
  background-color: rgb(0, 191, 165);
  -webkit-mask-image: var(--md-admonition-icon--visual);
          mask-image: var(--md-admonition-icon--visual);
}

/* Admonition: 'Chages' */
:root {
  --md-admonition-icon--change: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="m233-320 75 75q11 11 11 27.5T308-189q-12 12-28.5 12T251-189L108-332q-6-6-8.5-13T97-360q0-8 2.5-15t8.5-13l144-144q12-12 28-11.5t28 12.5q11 12 11.5 28T308-475l-75 75h247q17 0 28.5 11.5T520-360q0 17-11.5 28.5T480-320H233Zm494-240H480q-17 0-28.5-11.5T440-600q0-17 11.5-28.5T480-640h247l-75-75q-11-11-11-27.5t11-28.5q12-12 28.5-12t28.5 12l143 143q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L708-428q-12 12-28 11.5T652-429q-11-12-11.5-28t11.5-28l75-75Z"/></svg>')
}
.md-typeset .admonition.change,
.md-typeset details.change {
  border-color: rgb(255 , 145, 0);
}
.md-typeset .change > .admonition-title,
.md-typeset .change > summary {
  background-color: rgba(255 , 145, 0, 0.1);
}
.md-typeset .change > .admonition-title::before,
.md-typeset .change > summary::before {
  background-color: rgb(255, 145, 0);
  -webkit-mask-image: var(--md-admonition-icon--change);
          mask-image: var(--md-admonition-icon--change);
}

/* Admonition: 'Security' */
:root {
  --md-admonition-icon--security: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="M480-164q97-30 162-118.5T718-480H480v-315l-240 90v207q0 7 2 18h238v316Zm-13 79q-6-1-12-3-135-45-215-166.5T160-516v-189q0-25 14.5-45t37.5-29l240-90q14-5 28-5t28 5l240 90q23 9 37.5 29t14.5 45v189q0 140-80 261.5T505-88q-6 2-12 3t-13 1q-7 0-13-1Z"/></svg>')
}
.md-typeset .admonition.security,
.md-typeset details.security {
  border-color: rgb(245 , 0, 87);
}
.md-typeset .security > .admonition-title,
.md-typeset .security > summary {
  background-color: rgba(245 , 0, 87, 0.1);
}
.md-typeset .security > .admonition-title::before,
.md-typeset .security > summary::before {
  background-color: rgb(245, 0, 87);
  -webkit-mask-image: var(--md-admonition-icon--security);
          mask-image: var(--md-admonition-icon--security);
}

/* Admonition: 'Party' */
:root {
  --md-admonition-icon--party: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="m108-160 151-420q5-13 15.5-20t22.5-7q8 0 15 3t13 9l270 270q6 6 9 13t3 15q0 12-7 22.5T580-259L160-108q-12 5-23 1.5T118-118q-8-8-11.5-19t1.5-23Zm813-519q-9 9-21 9t-21-9l-3-3q-14-14-35-14t-35 14L603-479q-9 9-21 9t-21-9q-9-9-9-21t9-21l203-203q32-32 77-32t77 32l3 3q9 9 9 21t-9 21ZM399-799q9-9 21-9t21 9l5 5q32 32 32 76t-32 76l-3 3q-9 9-21 9t-21-9q-9-9-9-21t9-21l3-3q14-14 14-34t-14-34l-5-5q-9-9-9-21t9-21Zm162-80q9-9 21-9t21 9l43 43q32 32 32 77t-32 77L523-559q-9 9-21 9t-21-9q-9-9-9-21t9-21l123-123q14-14 14-35t-14-35l-43-43q-9-9-9-21t9-21Zm320 480q-9 9-21 9t-21-9l-43-43q-14-14-35-14t-35 14l-43 43q-9 9-21 9t-21-9q-9-9-9-21t9-21l43-43q32-32 77-32t77 32l43 43q9 9 9 21t-9 21Z"/></svg>')
}
.md-typeset .admonition.party,
.md-typeset details.party {
  border-color: rgb(0 , 200, 83);
}
.md-typeset .party > .admonition-title,
.md-typeset .party > summary {
  background-color: rgba(0 , 200, 83, 0.1);
}
.md-typeset .party > .admonition-title::before,
.md-typeset .party > summary::before {
  background-color: rgb(0, 200, 83);
  -webkit-mask-image: var(--md-admonition-icon--party);
          mask-image: var(--md-admonition-icon--party);
}