/* ~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Admonition style changes *
 * ~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~ Rounded Corners ~~~ */

/* Expanded */
.md-typeset .admonition,
.md-typeset details {
  border-radius: .4rem;
}
[dir=ltr] .md-typeset .admonition-title,
[dir=ltr] .md-typeset summary,
[dir=rtl] .md-typeset .admonition-title,
[dir=rtl] .md-typeset summary {
  background-color: transparent;
  border-top-right-radius: .4rem;
  border-top-left-radius: .4rem;
}
/* Collapsed */
.md-typeset details:not([open]) {
	border-radius: .4rem;
}

/* ~~~ Icon Size & Spacing ~~~ */
/*
[dir=ltr] .md-typeset .admonition-title:before,
[dir=ltr] .md-typeset summary:before {
  left: .5rem;
}
[dir=rtl] .md-typeset .admonition-title:before,
[dir=rtl] .md-typeset summary:before {
  right: .5rem
}
.md-typeset .admonition-title:before,
.md-typeset summary:before {
  height: 1.1rem;
  top: .525em;
  width: 1.1rem
}
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Customize Built-In Admonitions *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */   

/* ~~~ Admonition: 'Note' ~~~ */

/* Set background color */
.md-typeset .admonition.note,
.md-typeset details.note {
  background-color: #448aff1a
}
/* Set color of expand/collapse button */
.md-typeset .note > .admonition-title:after,
.md-typeset .note > summary:after {
  color: #448aff
}

/* ~~~ Admonition: 'Abstract' ~~~ */

.md-typeset .admonition.abstract,
.md-typeset details.abstract {
  background-color: #00b0ff1a
}
.md-typeset .abstract > .admonition-title:after,
.md-typeset .abstract > summary:after {
  color: #00b0ff
}

/* ~~~ Admonition: 'Info' ~~~ */

.md-typeset .admonition.info,
.md-typeset details.info {
  background-color: #00b8d41a
}
.md-typeset .info > .admonition-title:after,
.md-typeset .info > summary:after {
  color: #00b8d4
}

/* ~~~ Admonition: 'Tip' ~~~ */

.md-typeset .admonition.tip,
.md-typeset details.tip {
  background-color: #00bfa51a
}
.md-typeset .tip > .admonition-title:after,
.md-typeset .tip > summary:after {
  color: #00bfa5
}

/* ~~~ Admonition: 'Success' ~~~ */

.md-typeset .admonition.success,
.md-typeset details.success {
  background-color: #00c8531a
}
.md-typeset .success > .admonition-title:after,
.md-typeset .success > summary:after {
  color: #00c853
}

/* ~~~ Admonition: 'Question' ~~~ */

.md-typeset .admonition.question,
.md-typeset details.question {
  background-color: #64dd171a
}
.md-typeset .question > .admonition-title:after,
.md-typeset .question > summary:after {
  color: #64dd17
}

/* ~~~ Admonition: 'Warning' ~~~ */

.md-typeset .admonition.warning,
.md-typeset details.warning {
  background-color: #ff91001a
}
.md-typeset .warning > .admonition-title:after,
.md-typeset .warning > summary:after {
  color: #ff9100
}

/* ~~~ Admonition: 'Failure' ~~~ */

.md-typeset .admonition.failure,
.md-typeset details.failure {
  background-color: #ff52521a
}
.md-typeset .failure > .admonition-title:after,
.md-typeset .failure > summary:after {
  color: #ff5252
}

/* ~~~ Admonition: 'Danger' ~~~ */

.md-typeset .admonition.danger,
.md-typeset details.danger {
  background-color: #ff17441a
}
.md-typeset .danger > .admonition-title:after,
.md-typeset .danger > summary:after {
  color: #ff1744
}

/* ~~~ Admonition: 'Bug' ~~~ */

.md-typeset .admonition.bug,
.md-typeset details.bug {
  background-color: #f500571a
}
.md-typeset .bug > .admonition-title:after,
.md-typeset .bug > summary:after {
  color: #f50057
}

/* ~~~ Admonition: 'Example' ~~~ */

.md-typeset .admonition.example,
.md-typeset details.example {
  background-color:#7c4dff1a
}
.md-typeset .example > .admonition-title:after,
.md-typeset .example > summary:after {
  color: #7c4dff
}

/* ~~~ Admonition: 'Quote' ~~~ */

.md-typeset .admonition.quote,
.md-typeset details.quote {
  background-color: #9e9e9e1a
}
.md-typeset .quote > .admonition-title:after,
.md-typeset .quote > summary:after {
  color: #9e9e9e
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Adding Custom Admonitions *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~ Define Icon Properties ~~~ */

:root {
  --md-admonition-icon--links: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-link-icon lucide-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>');
  --md-admonition-icon--zima: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="m18.371 2h-12.742c-2.0039 0-3.6289 1.625-3.6289 3.6289v12.742c0 2.0039 1.625 3.6289 3.6289 3.6289h12.742c2.0039 0 3.6289-1.625 3.6289-3.6289v-12.742c0-2.0039-1.625-3.6289-3.6289-3.6289m-5.6016 8.0859h1.8984c.21094 0 .38281-.16797.38281-.375v-2.4609c0-.20703-.17188-.375-.38281-.375h-1.8984v-1.3477h5.9102v1.3398h-1.8984c-.21094 0-.38281.16797-.38281.375v2.4609c0 .20703.17188.375.38281.375h1.8984v1.3438h-5.9102zm-1.2422 8.75h-1.3945v-3.6172l-.52734.4375-1.1172.91406-1.1172-.92188-.52734-.43359v3.6211h-1.3945v-6.0078h1.3945v.17188c0 .23438.10547.45703.28125.60547l1.3594 1.1211 1.3594-1.125c.17969-.14844.28125-.37109.28125-.60547v-.17188h1.4023zm0-11.98h-.14453c-.22656 0-.44531.089844-.60547.25391l-2.9609 2.9883h3.7109v1.3281h-6.0781v-1.3242h.14453c.23438 0 .45312-.09375.61719-.25781l2.9531-2.9844h-3.7148v-1.3281h6.0781zm6 11.98-1.6758-3.9023-1.6758 3.9023h-1.5898l2.3594-5.4922c.07031-.16406.07031-.34766 0-.51172h1.8086c-.07031.16406-.07031.34766 0 .51172l2.3633 5.4922z"/></svg>');
  --md-admonition-icon--config: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>');
  --md-admonition-icon--visual: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg>');
  --md-admonition-icon--change: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-left-icon lucide-arrow-right-left"><path d="m16 3 4 4-4 4"/><path d="M20 7H4"/><path d="m8 21-4-4 4-4"/><path d="M4 17h16"/></svg>');
  --md-admonition-icon--security: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-alert-icon lucide-shield-alert"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/><path d="M12 8v4"/><path d="M12 16h.01"/></svg>');
  --md-admonition-icon--party: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-party-popper-icon lucide-party-popper"><path d="M5.8 11.3 2 22l10.7-3.79"/><path d="M4 3h.01"/><path d="M22 8h.01"/><path d="M15 2h.01"/><path d="M22 20h.01"/><path d="m22 2-2.24.75a2.9 2.9 0 0 0-1.96 3.12c.1.86-.57 1.63-1.45 1.63h-.38c-.86 0-1.6.6-1.76 1.44L14 10"/><path d="m22 13-.82-.33c-.86-.34-1.82.2-1.98 1.11c-.11.7-.72 1.22-1.43 1.22H17"/><path d="m11 2 .33.82c.34.86-.2 1.82-1.11 1.98C9.52 4.9 9 5.52 9 6.23V7"/><path d="M11 13c1.93 1.93 2.83 4.17 2 5-.83.83-3.07-.07-5-2-1.93-1.93-2.83-4.17-2-5 .83-.83 3.07.07 5 2Z"/></svg>');
}

/* ~~~ Admonition: `Links` ~~~ */

/* Set border color */
.md-typeset .admonition.links,
.md-typeset details.links {
  border-color: rgb(76, 174, 79);
  background-color: rgba(76, 174, 79, 0.1)
}
/* Set icon color */
.md-typeset .links > .admonition-title::before,
.md-typeset .links > summary::before {
  background-color: rgb(76, 174, 79);
  -webkit-mask-image: var(--md-admonition-icon--links);
          mask-image: var(--md-admonition-icon--links);
}
/* Set color of expand/collapse button to match icon */
.md-typeset .links > .admonition-title:after,
.md-typeset .links > summary:after {
  color: rgb(76, 174, 79);
}

/* ~~~ Admonition: 'ZimaOS' ~~~ */

.md-typeset .admonition.zima,
.md-typeset details.zima {
  border-color: rgb(130 , 45, 190);
  background-color: rgba(130 , 44, 190, 0.1);
}
.md-typeset .zima > .admonition-title::before,
.md-typeset .zima > summary::before {
  background-color: rgb(130, 45, 190);
  -webkit-mask-image: var(--md-admonition-icon--zima);
          mask-image: var(--md-admonition-icon--zima);
}
.md-typeset .zima > .admonition-title:after,
.md-typeset .zima > summary:after {
  color: rgb(130, 45, 190);
}

/* ~~~ Admonition: 'Config' ~~~ */

.md-typeset .admonition.config,
.md-typeset details.config {
  border-color: rgb(245 , 0, 87);
  background-color: rgba(245 , 0, 87, 0.1);
}
.md-typeset .config > .admonition-title::before,
.md-typeset .config > summary::before {
  background-color: rgb(245, 0, 87);
  -webkit-mask-image: var(--md-admonition-icon--config);
          mask-image: var(--md-admonition-icon--config);
}
.md-typeset .config > .admonition-title:after,
.md-typeset .config > summary:after {
  color: rgb(245, 0, 87);
}

/* ~~~ Admonition: 'Visual' ~~~ */

.md-typeset .admonition.visual,
.md-typeset details.visual {
  border-color: rgb(0 , 191, 165);
  background-color: rgba(0 , 191, 165, 0.1);
}
.md-typeset .visual > .admonition-title::before,
.md-typeset .visual > summary::before {
  background-color: rgb(0, 191, 165);
  -webkit-mask-image: var(--md-admonition-icon--visual);
          mask-image: var(--md-admonition-icon--visual);
}
.md-typeset .visual > .admonition-title:after,
.md-typeset .visual > summary:after {
  color: rgb(0, 191, 165);
}

/* ~~~ Admonition: 'Chages' ~~~ */

.md-typeset .admonition.change,
.md-typeset details.change {
  border-color: rgb(255 , 145, 0);
  background-color: rgba(255 , 145, 0, 0.1);
}
.md-typeset .change > .admonition-title::before,
.md-typeset .change > summary::before {
  background-color: rgb(255, 145, 0);
  -webkit-mask-image: var(--md-admonition-icon--change);
          mask-image: var(--md-admonition-icon--change);
}
.md-typeset .change > .admonition-title:after,
.md-typeset .change > summary:after {
  color: rgb(255 , 145, 0);
}

/* ~~~ Admonition: 'Security' ~~~ */

.md-typeset .admonition.security,
.md-typeset details.security {
  border-color: rgb(245 , 0, 87);
  background-color: rgba(245 , 0, 87, 0.1);
}
.md-typeset .security > .admonition-title::before,
.md-typeset .security > summary::before {
  background-color: rgb(245, 0, 87);
  -webkit-mask-image: var(--md-admonition-icon--security);
          mask-image: var(--md-admonition-icon--security);
}
.md-typeset .security > .admonition-title:after,
.md-typeset .security > summary:after {
  color: rgb(245 , 0, 87);
}

/* ~~~ Admonition: 'Party' ~~~ */

.md-typeset .admonition.party,
.md-typeset details.party {
  border-color: rgb(0 , 200, 83);
  background-color: rgba(0 , 200, 83, 0.1);
}
.md-typeset .party > .admonition-title::before,
.md-typeset .party > summary::before {
  background-color: rgb(0, 200, 83);
  -webkit-mask-image: var(--md-admonition-icon--party);
          mask-image: var(--md-admonition-icon--party);
}
.md-typeset .party > .admonition-title:after,
.md-typeset .party > summary:after {
  color: rgb(0 , 200, 83);
}