/* ---------------------------------------- *
 * Customize buttons                        *
 * ---------------------------------------- *
 * This code changes the button shape from  * 
 * rectangles to ovals, reduces the font    * 
 * weight to 600, reduces the padding, and  * 
 * adds a 250ms transition animation.       * 
 *                                          *
 * Page 'view' and 'edit' buttons are given * 
 * a rounded square container, and the      * 
 * hover animation is set to 250ms to match * 
 * the other button behavior.               *
 * ---------------------------------------- */

/* ----------------- * 
 * Regular Buttons:  *
 * ----------------- */
 
/* Remove border, make pill-shaped, change text color, change background color, adjust font size and weight, adjust padding, add transition */
.md-typeset .md-button {
  border-radius: 1.2rem;
  border: none;
  color: var(--md-default-fg-color--light);
  background-color: var(--md-default-fg-color--lightest);
  font-size:.875em;
  font-weight: 600;
  padding: .625em 2em;
  transition: color 250ms, background-color 250ms, border-color 250ms ease-in-out !important;
}

/* ----------------- * 
 * Primary Buttons:  *
 * ----------------- */

/* Set background color, set text color, remove border */
.md-typeset .md-button--primary {
  background-color: var(--md-primary-fg-color);
  border: none;
  color: var(--md-primary-bg-color)
}

/* ----------------- * 
 * Button Hover:     *
 * ----------------- */

/* Set background color, remove border, set text color */
.md-typeset .md-button:focus,
.md-typeset .md-button:hover {
  background-color: var(--md-accent-fg-color);
  border-color: transparent;
  color: var(--md-accent-bg-color)
}

/* ---------------------------- *
 * Page 'view' & 'edit' buttons *
 * ---------------------------- */

/* Set the margin from the edge of the page */
[dir=ltr] .md-content__button {
  margin-left: .4rem;
}
[dir=rtl] .md-content__button {
  margin-right: .4rem
}
/* Set margin between buttons, give buttons a background with rounded corners, set icon padding, set margin from top of page */
.md-content__button {
  margin: .4rem 0;
  background: var(--md-default-fg-color--lightest);
  padding: .3rem;
  border-radius: .4rem;
  margin-top: .7rem;
}
/* Set the size of the icon */
.md-content__button svg {
  display: flex;
  height: .9rem;
  width: .9rem;
}
/* Hover: Set the background and icon color, add a 250ms transition */
.md-content__button:hover {
  background: var(--md-accent-fg-color--transparent);
  color: var(--md-accent-fg-color) !important;
  transition: color 250ms, background-color 250ms, ease-in-out !important;
}

/* ---------------------------------------- *
 * Back-to-top button                       *
 * ---------------------------------------- *
 * This code gives the 'Back-to-Top' button *
 * a translucent background with blur to    * 
 * modernize the UI and match the effect    * 
 * seen on Zensical.                        *
 * ---------------------------------------- */

/* Change background color (translucent), add blur, adjust size, move button to bottom of the page */
.md-top {
  -webkit-backdrop-filter: blur(.4rem);
	backdrop-filter: blur(.4rem);
	background-color: var(--md-default-bg-color--light);
  border-radius: 1.6rem;
  bottom: 1.6rem;
  display: flex;
  gap: .4rem;
  padding: .5rem .9rem .5rem .7rem;
  top: auto !important;
}
/* Adjust the size and spacing of the double-arrows icon */
.md-top svg {
	display: inline-block;
	height: .9rem;
	vertical-align: -.5em;
	width: .9rem;
}
/* Hover: Set the background color and text/icon color */
.md-top:hover {
  background-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color)
}

/* ---------------------------------------- *
 * Tag buttons                              *
 * ---------------------------------------- *
 * This code gives tag buttons a box-shadow * 
 * and a 250ms transition to match the      *
 * other buttons on the site.               * 
 * ---------------------------------------- */

/* Add box shadow and transition on hover */
.md-tags .md-tag:hover {
    box-shadow: var(--md-shadow-z2);
    transition: color 250ms, background-color 250ms, box-shadow 250ms ease-in-out;
}
/* Change from pill-shaped to rounded rectangle to match Zensical aesthetic */
.md-typeset .md-tag {
  border-radius: .4rem;
}