/* --- Import CSS files --- */

@import url(admonition.css);
@import url(button.css);
@import url(code-block.css);
@import url(color.css);
@import url(page-status.css);
@import url(panzoom.css);
@import url(search.css);
@import url(typeset.css);

/* --- Set maximum page width --- */
.md-grid {
  max-width: 1355px;
}

/* --- Tooltip customization --- */

.md-tooltip {
  border-radius: 0.4rem;
  max-width: 20rem;
  width: fit-content;
}

/* --- JPG and PNG Image border radius */

img[src$=".png" i],
img[src$=".png#only-light" i],
img[src$=".png#only-dark" i],
img[src$=".jpg" i],
img[src$=".jpg#only-light" i],
img[src$=".jpg#only-dark" i],
img[src$=".jpeg" i],
img[src$=".jpeg#only-light" i],
img[src$=".jpeg#only-dark" i] {
  border-style: none;
  border-radius: 0.4rem;
}

/* --- Table border radius --- */

.md-typeset table:not([class]) {
	border-radius: 0.4rem;
}

/* --- Grid Card border radius --- */

.md-typeset .grid.cards>ol>li,
.md-typeset .grid.cards>ul>li,
.md-typeset .grid>.card {
  border-radius: 0.4rem;
}

/* --- Responsive design for '.md-button' --- */

@media screen and (max-width: 719px) {
  .md-typeset .md-button {
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}

/* --- Disable image floating on mobile screens --- */

@media screen and (max-width: 768px) {
  .md-typeset img[align="right"],
  .md-typeset img[align="left"],
  .md-typeset img[style*="float: right"] {
    float: none !important;
    display: block;
    margin: 1.5rem auto; 
    max-width: 100%; 
  }
}

/* Force light/dark mode images to stay hidden based on the active Material theme */
[data-md-color-scheme="slate"] .md-typeset img[src$="#only-light"],
[data-md-color-scheme="default"] .md-typeset img[src$="#only-dark"] {
  display: none !important;
}