/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * General Typeset Changes    *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.md-typeset {
	font-size: .75rem;
	letter-spacing: -.01em;
	line-height: 1.8;
	overflow-wrap: break-word;
}

/* Change the background-color for highlited text */
.md-typeset mark {
    background-color: var(--md-code-hl-color--light);
}
/* Reproduce keyboard plugin style from Zensical */
.md-typeset kbd {
    background: transparent;
    border-radius: .2rem;
    box-shadow: 0 0 0 .05rem var(--md-typeset-kbd-border-color),0 .15rem 0 var(--md-typeset-kbd-border-color);
    color: var(--md-default-fg-color);
    display: inline-block;
    font-size: .75em;
    padding: 0 .6666666667em;
    vertical-align: text-top;
    word-break: break-word
}
/* Hide bullets/numbers from being rendered in lists that use the class '{: .no-bullets }' */
.no-bullets {
    list-style-type: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Customize Headings         *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Modify h1 headings to use the primary color, reduce the margin below, and reduce the font weight to 500 */
.md-typeset h1 {
  color: var(--md-primary-fg-color);
  margin-bottom: 0.2rem;
  font-weight: 500;
}
/* Set the font weight for h2 headings to 500 */
.md-typeset h2 {
    font-weight: 500;
}
/* Set the font weight for h3 headings to 500 */
.md-typeset h3 {
    font-weight: 500;
}
/* Give headings more contrast in dark theme */
[data-md-color-scheme=slate] .md-header__title,
[data-md-color-scheme=slate] h2,
[data-md-color-scheme=slate] h3,
[data-md-color-scheme=slate] h4 {
    color: hsla(var(--md-hue),0%,100%,1)
}
/* Disable all uppercase letters for h5 headings */
.md-typeset h5 {
    text-transform: none;
}
/* Increase font size for h5 and h6 headings to 0.83em */
.md-typeset h5, .md-typeset h6 {
    font-size: 0.83em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Data Preview Link          *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.md-typeset [data-preview] {
  position: relative
}
[dir=ltr] .md-typeset [data-preview]:after {
  margin-left: .125em
}
[dir=rtl] .md-typeset [data-preview]:after {
  margin-right: .125em
}
/* Remove existing bottom border */
.md-typeset [data-preview] {
    border-bottom: none;
}
/* Add icon after */
.md-typeset [data-preview]::after {
	background-color: currentcolor;
	content: "";
	display: inline-block;
	height: .8em;
	-webkit-mask-image: var(--md-typeset-preview-icon);
	mask-image: var(--md-typeset-preview-icon);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	transition: background-color 125ms;
	vertical-align: text-top;
	width: .8em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * External Link Icon         *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.md-typeset [external-link] {
  position: relative
}
[dir=ltr] .md-typeset [external-link]:after {
  margin-left: .125em
}
[dir=rtl] .md-typeset [external-link]:after {
  margin-right: .125em
}
/* Create an elemet that can add an icon after external links */
/* Use '{ external-link }' directly after an external link to add the icon element */
.md-typeset [external-link]::after {
	background-color: currentcolor;
	content: "";
	display: inline-block;
	height: .8em;
    /* The icon root property is defined in 'extra.css' */
	-webkit-mask-image: var(--md-typeset-external-link-icon);
	mask-image: var(--md-typeset-external-link-icon);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	transition: background-color 125ms;
	vertical-align: text-top;
	width: .8em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ *
 * Mailto Link Icon           *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.md-typeset [mailto-link] {
  position: relative
}
[dir=ltr] .md-typeset [mailto-link]:after {
  margin-left: .125em
}
[dir=rtl] .md-typeset [mailto-link]:after {
  margin-right: .125em
}
/* Create an elemet that can add an icon after external links */
/* Use '{ mailto-link }' directly after an external link to add the icon element */
.md-typeset [mailto-link]::after {
	background-color: currentcolor;
	content: "";
	display: inline-block;
	height: .7em;
    /* The icon root property is defined in 'extra.css' */
	-webkit-mask-image: var(--md-typeset-mailto-icon);
	mask-image: var(--md-typeset-mailto-icon);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	transition: background-color 125ms;
	vertical-align: text-top;
	width: .7em;
}