/* --- Set maximum page width --- */
.md-grid {
  max-width: 1355px;
}

/* --- Make H1 headings use primary theme color --- */
.md-typeset h1 {
  color: var(--md-primary-fg-color);
}

/* --- Make H2 headings use primary theme color --- */
/* .md-typeset h2 {
/*   color: var(--md-primary-fg-color);
/* }

/* --- Make H3 headings use accent theme color --- */
/* .md-typeset h3 {
/*   color: var(--md-accent-fg-color);
/* }

/* Shadow box for tag container on mouse-over */
.md-tags .md-tag:hover {

    box-shadow: var(--md-shadow-z2), inset 0 0 0 2px var(--md-primary-fg-color);
    transition: box-shadow 125ms ease-in-out;
}

/* Target the back-to-top button on hover */
.md-top:hover {
    
    box-shadow: var(--md-shadow-z2), inset 0 0 0 2px var(--md-primary-fg-color);
    transition: box-shadow 0.2s, ease-in-out;
}

/* --- Colors for Logical & Physical Mermaid.js Diagrams --- */

/* 1. Default (Light Mode) Variables */
:root {
    /* Text & Lines */
    --node-text: #202020;
    --edge-line: #202020;

    /* Subgraph & Edge Label Variables */
    --subgraph-bg: #f5f6f7;
    --subgraph-border: #cccccc;
    --edge-bg: #ffffff; 
    --edge-text: #202020;

    /* Logical Diagram Variables */
    --vlan50-bg: #e8f5e9;
    --vlan50-border: #2e7d32;
    --vlan52-bg: #fff3e0;
    --vlan52-border: #ef6c00;
    --vlan53-bg: #f3e5f5;
    --vlan53-border: #7b1fa2;
    --service-bg: #e1f5fe;
    --service-border: #0277bd;
    --storage-bg: #ffebee;
    --storage-border: #c62828;

    /* Physical Diagram Variables */
    --isp-bg: #ffebee;
    --isp-border: #c62828;
    --multi-bg: #e1f5fe;
    --multi-border: #01579b;
    --tengb-bg: #ffccbc;
    --tengb-border: #bf360c;
    --twofivegb-bg: #fff9c4;
    --twofivegb-border: #fbc02d;
    --gigabit-bg: #e8f5e9;
    --gigabit-border: #2e7d32;
    --wifi-bg: #f3e5f5;
    --wifi-border: #7b1fa2;
}

/* 2. Slate (Dark Mode) Variables */
[data-md-color-scheme="slate"] {
    /* Text & Lines */
    --node-text: #BFC1C7;
    --edge-line: #BFC1C7;

    /* Subgraph & Edge Label Variables */
    --subgraph-bg: #2e303e;
    --subgraph-border: #4a4d5e;
    --edge-bg: #222428; 
    --edge-text: #BFC1C7;

    /* Logical Diagram Variables */
    --vlan50-bg: #001200;
    --vlan50-border: #2e7d32;
    --vlan52-bg: #180900;
    --vlan52-border: #ef6c00;
    --vlan53-bg: #241026;
    --vlan53-border: #7b1fa2;
    --service-bg: #00111D;
    --service-border: #0277bd;
    --storage-bg: #22090E;
    --storage-border: #c62828;

    /* Physical Diagram Variables */
    --isp-bg: #22090E;
    --isp-border: #c62828;
    --multi-bg: #00111D;
    --multi-border: #01579b;
    --tengb-bg: #5A1C00;
    --tengb-border: #bf360c;
    --twofivegb-bg: #110C00;
    --twofivegb-border: #fbc02d;
    --gigabit-bg: #001200;
    --gigabit-border: #2e7d32;
    --wifi-bg: #241026;
    --wifi-border: #7b1fa2;
}

/* --- Custom Admonitions --- */

/* 1. Admonition for links */
:root {
  --md-admonition-icon--links: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.59 13.41c.41.39.41 1.03 0 1.42-.39.39-1.03.39-1.42 0a5.003 5.003 0 0 1 0-7.07l3.54-3.54a5.003 5.003 0 0 1 7.07 0 5.003 5.003 0 0 1 0 7.07l-1.49 1.49c.01-.82-.12-1.64-.4-2.42l.47-.48a2.98 2.98 0 0 0 0-4.24 2.98 2.98 0 0 0-4.24 0l-3.53 3.53a2.98 2.98 0 0 0 0 4.24m2.82-4.24c.39-.39 1.03-.39 1.42 0a5.003 5.003 0 0 1 0 7.07l-3.54 3.54a5.003 5.003 0 0 1-7.07 0 5.003 5.003 0 0 1 0-7.07l1.49-1.49c-.01.82.12 1.64.4 2.43l-.47.47a2.98 2.98 0 0 0 0 4.24 2.98 2.98 0 0 0 4.24 0l3.53-3.53a2.98 2.98 0 0 0 0-4.24.973.973 0 0 1 0-1.42"/></svg>')
}
.md-typeset .admonition.links,
.md-typeset details.links {
  border-color: rgb(76, 174, 79);
}
.md-typeset .links > .admonition-title,
.md-typeset .links > summary {
  background-color: rgba(76, 174, 79, 0.1);
}
.md-typeset .links > .admonition-title::before,
.md-typeset .links > summary::before {
  background-color: rgb(76, 174, 79);
  -webkit-mask-image: var(--md-admonition-icon--links);
          mask-image: var(--md-admonition-icon--links);
}

/* 2. Admonition for ZimaOS */
:root {
  --md-admonition-icon--zima: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M419.1 0H92.9C41.6 0 0 41.6 0 92.9v326.2C0 470.4 41.6 512 92.9 512h326.2c51.3 0 92.9-41.6 92.9-92.9V92.9C512 41.6 470.4 0 419.1 0M275.7 207h48.6c5.4 0 9.8-4.3 9.8-9.6v-63c0-5.3-4.4-9.6-9.8-9.6h-48.6V90.3H427v34.3h-48.6c-5.4 0-9.8 4.3-9.8 9.6v63c0 5.3 4.4 9.6 9.8 9.6H427v34.4H275.7zm-31.8 224h-35.7v-92.6l-13.5 11.2-28.6 23.4-28.6-23.6-13.5-11.1V431H88.3V277.2H124v4.4c0 6 2.7 11.7 7.2 15.5l34.8 28.7 34.8-28.8c4.6-3.8 7.2-9.5 7.2-15.5v-4.4h35.9zm0-306.7h-3.7c-5.8 0-11.4 2.3-15.5 6.5l-75.8 76.5h95v34H88.3v-33.9H92c6 0 11.6-2.4 15.8-6.6l75.6-76.4H88.3v-34h155.6zM397.5 431l-42.9-99.9-42.9 99.9H271l60.4-140.6c1.8-4.2 1.8-8.9 0-13.1h46.3c-1.8 4.2-1.8 8.9 0 13.1L438.2 431z" /></svg>')
}
.md-typeset .admonition.zima,
.md-typeset details.zima {
  border-color: rgb(130 , 45, 190);
}
.md-typeset .zima > .admonition-title,
.md-typeset .zima > summary {
  background-color: rgba(130 , 44, 190, 0.1);
}
.md-typeset .zima > .admonition-title::before,
.md-typeset .zima > summary::before {
  background-color: rgb(130, 45, 190);
  -webkit-mask-image: var(--md-admonition-icon--zima);
          mask-image: var(--md-admonition-icon--zima);
}

/* 3. Admonition for Critical Configuration */
:root {
  --md-admonition-icon--config: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm112-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z"/></svg>')
}
.md-typeset .admonition.config,
.md-typeset details.config {
  border-color: rgb(245 , 0, 87);
}
.md-typeset .config > .admonition-title,
.md-typeset .config > summary {
  background-color: rgba(245 , 0, 87, 0.1);
}
.md-typeset .config > .admonition-title::before,
.md-typeset .config > summary::before {
  background-color: rgb(245, 0, 87);
  -webkit-mask-image: var(--md-admonition-icon--config);
          mask-image: var(--md-admonition-icon--config);
}

/* 4. Admonition for Visual Indicators */
:root {
  --md-admonition-icon--visual: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" /></svg>')
}
.md-typeset .admonition.visual,
.md-typeset details.visual {
  border-color: rgb(0 , 191, 165);
}
.md-typeset .visual > .admonition-title,
.md-typeset .visual > summary {
  background-color: rgba(0 , 191, 165, 0.1);
}
.md-typeset .visual > .admonition-title::before,
.md-typeset .visual > summary::before {
  background-color: rgb(0, 191, 165);
  -webkit-mask-image: var(--md-admonition-icon--visual);
          mask-image: var(--md-admonition-icon--visual);
}

/* 5. Admonition for Chages */
:root {
  --md-admonition-icon--change: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8,10V13H14V18H8V21L2,15.5L8,10M22,8.5L16,3V6H10V11H16V14L22,8.5Z" /></svg>')
}
.md-typeset .admonition.change,
.md-typeset details.change {
  border-color: rgb(255 , 145, 0);
}
.md-typeset .change > .admonition-title,
.md-typeset .change > summary {
  background-color: rgba(255 , 145, 0, 0.1);
}
.md-typeset .change > .admonition-title::before,
.md-typeset .change > summary::before {
  background-color: rgb(255, 145, 0);
  -webkit-mask-image: var(--md-admonition-icon--change);
          mask-image: var(--md-admonition-icon--change);
}